<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Enable App Sandbox -->
	<key>com.apple.security.app-sandbox</key>
	<true/>

	<!-- Required for Sparkle to download updates -->
	<key>com.apple.security.network.client</key>
	<true/>

	<!-- Required for Sparkle to install updates -->
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
</dict>
</plist>
