name: Release

on:
  push:
    tags:
      - "v*"

  workflow_dispatch:
    inputs:
      version:
        description: "Version number (e.g., 1.0.0)"
        required: false
        type: string

jobs:
  get-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Get version
        id: version
        uses: ./.github/actions/get-version
        with:
          version: ${{ inputs.version }}

  release:
    needs: get-version
    uses: ./.github/workflows/xcode-sparkle.yml
    with:
      scheme: "Github Actions Sandbox"
      project: "Github Actions Sandbox.xcodeproj"
      product_name: "Github Actions Sandbox"
      dmg_background_file_name: "Assets/background@2x.png"
      bundle_id: "com.thirdwallstudio.Github-Actions-Sandbox"
      appcast_path: "docs/appcast.xml"
      version: ${{ needs.get-version.outputs.version }}
    secrets: inherit
